<!doctype html>
<html lang="en" ng-app="ShoppingListCheckOff">

    <head>
        <title>Shopping List Checkoff</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Dosis|PT+Sans" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="style.css">
        <script src="js/angular.min.js"></script>
        <script src="js/app.js"></script>
    </head>

    <body>
        <div ng-controller="ToBuyController as buyController">
            <ul>
                <li ng-repeat="item in buyController.items">{{$index + 1}}. {{item}}
                    <button ng-click="buyController.onBoughtEvent($index);">Bought item</button>
                </li>
                <div class="WarningMessage" ng-hide="buyController.items.length">Everything is bought!</div>
            </ul>
        </div>

        <div ng-controller="AlreadyBoughtController as boughtCtl">
            <ul>
                <li ng-repeat="item in boughtCtl.boughtItems">{{$index + 1}}. {{item}} </li>
            </ul>
            <div class="WarningMessage" ng-hide="boughtCtl.boughtItems.length">Nothing bought yet</div>
            <p>
                Flag Value: {{boughtCtl.isBoughtItemsEmpty}}
            </p>
        </div>
    </body>

</html>