<!doctype html>
<html lang="en" ng-app="ShoppingListCheckOff">

    <head>
        <title>Shopping List Checkoff</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Dosis|PT+Sans" rel="stylesheet">
        <link rel="stylesheet" href="styles/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="styles/style.css">
        <script src="js/angular.min.js"></script>
        <script src="js/app.js"></script>
    </head>

    <body class="container">
        <h1>Shopping List Check Off</h1>
        <div ng-controller="ToBuyController as buyController" class="col-md-6">
            <h2>To buy item list:</h2>
            <ul>
                <li ng-repeat="item in buyController.items">Buy {{item.quantity}} of {{item.desc}}
                    <button class="btn btn-default" ng-click="buyController.onBoughtEvent($index);">
                      <span class="glyphicon glyphicon-ok"></span>
                      <span>Bought</span>
                    </button>
                </li>
                <div class="WarningMessage" ng-if="!buyController.items.length">Everything is bought!</div>
            </ul>
        </div>

        <div ng-controller="AlreadyBoughtController as boughtCtl" class="col-md-6">
            <h2>Already bought item list: </h2>
            <ul>
                <li ng-repeat="item in boughtCtl.boughtItems">Bought {{item.quantity}} {{item.desc}}</li>
            </ul>
            <div class="WarningMessage" ng-if="!boughtCtl.boughtItems.length">Nothing bought yet.</div>
            <p>
                Flag Value: {{boughtCtl.isBoughtItemsEmpty}}
            </p>
        </div>
    </body>

</html>