<!-- Show/Hide the laoding icon -->
<div class="loader"></div>

<!-- Data to be displayed, formated into table view -->
<div class="searchContent" ng-show="display.onFound.length">
  <h2>Search Results: </h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Short Name</th>
        <th>Name</th>
        <th>Description</th>
        <th>Remove?</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in display.onFound">
        <td>{{item.short_name}}</td>
        <td>{{item.name}}</td>
        <td>{{item.description}}</td>
        <td>
          <button class="btn btn-primary" ng-click="display.onRemove({index: $index});">Don't want this one!</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
